@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'century gothic';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.oki-esqueci {
		border-radius:4px; 
		-moz-border-radius:4px; 
		-webkit-border-radius:4px;
		background: #fff; 
		margin: 0 7px 0 0; 
		padding: 5px; *padding: 7px 5px 3px 5px;
		padding: 7px 5px 3px 5px\9; 
		border: 1px solid; 
		border-color: #8C9399 #B6BFC4 #B6BFC4;
		color: #68727B; 
		font-family: century gothic; font-size: 13px; 
}

.login-esqueci { 
		border-left: 1px solid #B6BFC4;
    border-right: 1px solid #B6BFC4;
    border-top: 1px solid #8C9399;
    border-bottom: 1px solid #B6BFC4;
    border-radius:4px; 
		-moz-border-radius:4px; 
		-webkit-border-radius:4px;
		background: #fff; 
		margin: 0 7px 0 0; 
		*color: #68727B; 
		font-family: century gothic; font-size: 13px;
    width: 343px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 3px;
}
	
.oki-h1 {
	font-family: century gothic;
	font-weight:100;
	font-size:20px;
	color:#007A97;	
}

.oki-h1-bold {
	font-family: century gothic;
	font-weight:600;
	font-size:20px;
	color:#007A97;	
}

.oki-h2 {
	font-family: century gothic;
	font-weight:100;
	font-size:15px;
	color:#007A97;	
}

.oki-h2-negrito {
	font-family: century gothic;
	font-weight:600;
	font-size:15px;
	color:#007A97;	
}

.oki-addnovoend {
	transition:opacity 5s linear;
	
}

.gn-menu-main {
		font-family: century gothic;
		font-weight:100;
		/*background: #007A97;*/
		background:#de2418;
		width:10%;
		height: 25px;
		font-size: 13px;
		text-decoration:none;
		color:#ffffff;		
}

.gn-menu-main:hover {
	transition-duration: 1s;
	background:#ae2418;
}

.gn-menu-main a{
		text-decoration:none;
		color:#ffffff;		
}

.gn-menu-main a:hover{
		transition-duration: 1s;
		background:#ae2418;
}

.oki-h1 > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

.no-touch .gn-menu-main a:hover,
.no-touch .gn-menu li.gn-search-item:hover,
.no-touch .gn-menu li.gn-search-item:hover a {
		background: #5f6f81;
		color: white;
}

.gn-menu-main > li {
		display: block;
		float: left;
		height: 100%;
		border-right: 1px solid #c6d0da;
		text-align: center;
}

.gn-menu-main li.gn-trigger {
		position: relative;
		width: 60px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
}

.gn-menu-main > li:last-child {
		float: right;
		border-right: none;
		border-left: 1px solid #c6d0da;
}

.gn-menu-main > li > a {
		padding: 0 30px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: bold;
}

.gn-menu-main:after {
		display: table;
		clear: both;
		content: "";
}

.gn-menu-wrapper {
		position: fixed;
		top: 60px;
		bottom: 0;
		left: 0;
		overflow: hidden;
		width: 60px;
		border-top: 1px solid #c6d0da;
		background: white;
		-webkit-transform: translateX(-60px);
		-moz-transform: translateX(-60px);
		transform: translateX(-60px);
		-webkit-transition: -webkit-transform 0.3s, width 0.3s;
		-moz-transition: -moz-transform 0.3s, width 0.3s;
		transition: transform 0.3s, width 0.3s;
}

.gn-scroller {
		position: absolute;
		overflow-y: scroll;
		width: 370px;
		height: 100%;
}

.gn-menu {
		border-bottom: 1px solid #c6d0da;
		text-align: left;
		font-size: 18px;
}

.gn-menu li:not(:first-child),
.gn-menu li li {
		box-shadow: inset 0 1px #c6d0da
}

.gn-submenu li {
		overflow: hidden;
		height: 0;
		-webkit-transition: height 0.3s;
		-moz-transition: height 0.3s;
		transition: height 0.3s;
}

.gn-submenu li a {
		color: #c1c9d1;
}

.gn-activits-1{
	width:300px;
	top:100px;
	left:20%;
	position:absolute;
}

.gn-activits-2{
	width:300px;
	top:100px;
	left:45%;
	position:absolute;
}

.gn-activits-li-1{
	margin:10px;
    font-family: century gothic;
	font-size: 1.6em;
	font-weight: 100;
	border:4px solid #fff;
	color: #fff;
	display: block;
	cursor:pointer;
	width:100%;
	/*background:#3399CC;*/
}

.gn-activits-li-1 span{
	margin:10px;
	margin-right:5px;
	border:4px solid #fff;
	border-left:0px;
	border-right:0px;
	font-size:1.6em;
	font-weight: 700;	
	opacity:0.5;
	-webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease, clip 0.4s ease;
	-moz-transition: opacity 0.4s ease, -moz-transform 0.4s ease, clip 0.4s ease;
	transition: opacity 0.4s ease, transform 0.4s ease, clip 0.4s ease;
	}
	
.gn-activits-li-1 span:hover {
	opacity:10;
	}

	

input.gn-search {
		position: relative;
		z-index: 10;
		padding-left: 60px;
		outline: none;
		border: none;
		background: transparent;
		color: #5f6f81;
		font-weight: 300;
		font-family: century gothic;
		cursor: pointer;
}

/* placeholder */

.gn-search::-webkit-input-placeholder {
		color: #5f6f81
}

.gn-search:-moz-placeholder {
		color: #5f6f81
}

.gn-search::-moz-placeholder {
		color: #5f6f81
}

.gn-search:-ms-input-placeholder {
		color: #5f6f81
}

/* hide placeholder when active in Chrome */

.gn-search:focus::-webkit-input-placeholder,
.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
		color: transparent
}

input.gn-search:focus {
		cursor: text
}

.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
		color: white
}

/* placeholder */

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
		color: white
}

.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
		color: white
}

.gn-menu-main a.gn-icon-search {
		position: absolute;
		top: 0;
		left: 0;
		height: 60px;
}

.gn-icon::before {
		display: inline-block;
		width: 60px;
		text-align: center;
		text-transform: none;
		font-weight: normal;
		font-style: normal;
		font-variant: normal;
		font-family: 'ecoicons';
		line-height: 1;
		speak: none;
		-webkit-font-smoothing: antialiased;
}

.gn-icon-help::before {
		content: "\e000"
}

.gn-icon-earth::before {
		content: "\e004"
}

.gn-icon-cog::before {
		content: "\e006"
}

.gn-icon-search::before {
		content: "\e005"
}

.gn-icon-download::before {
		content: "\e007"
}

.gn-icon-photoshop::before {
		content: "\e001"
}

.gn-icon-illustrator::before {
		content: "\e002"
}

.gn-icon-archive::before {
		content: "\e00d"
}

.gn-icon-article::before {
		content: "\e003"
}

.gn-icon-pictures::before {
		content: "\e008"
}

.gn-icon-videos::before {
		content: "\e009"
}

/* if an icon anchor has a span, hide the span */

.gn-icon span {
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
}

.gn-icon-menu::before {
		margin-left: -15px;
		vertical-align: -2px;
		width: 30px;
		height: 3px;
		background: #5f6f81;
		box-shadow: 0 3px white, 0 -6px #5f6f81, 0 -9px white, 0 -12px #5f6f81;
		content: '';
}

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: white;
		box-shadow: 0 3px #5f6f81, 0 -6px white, 0 -9px #5f6f81, 0 -12px white;
}

.gn-icon-menu.gn-selected::before {
		background: #5993cd;
		box-shadow: 0 3px white, 0 -6px #5993cd, 0 -9px white, 0 -12px #5993cd;
}

/* styles for opening menu */

.gn-menu-wrapper.gn-open-all,
.gn-menu-wrapper.gn-open-part {
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
}

.gn-menu-wrapper.gn-open-all {
		width: 340px
}

.gn-menu-wrapper.gn-open-all .gn-submenu li {
		height: 60px
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapper.gn-open-all {
			-webkit-transform: translateX(0px);
			-moz-transform: translateX(0px);
			transform: translateX(0px);
			width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
			width: 130%
	}
}
