<?xml version="1.0"?>
<configuration>
  <appSettings>
      <add key="conexaoSQL" value="Data Source=186.202.148.141;Initial Catalog=marketingoki2 ;Persist Security Info=True;User ID=marketingoki2;Password=Oki9090"/>
    </appSettings>
  <system.web>
        <customErrors mode="Off"/>
    <compilation debug="true"/>
  </system.web>
</configuration>