@charset "utf-8";
/* ----------------------------------------------------------------
Structure= Contents Area
----------------------------------------------------------------- */
@media (min-width: 768px) {
	.navbar-right {
		margin-right: 0px;
	}
}

.mainImgInnerG {
	width: auto;
}

.mainImgInnerG .carousel-inner img {
	margin: 0 auto;
}

.navInfo6 {
	display: table;
	background-color: #8c8c8c;
	background-image: url("../img/arrow_right_white.png");
	background-repeat: no-repeat;
	background-position: 95% 55%;
	text-align: center;
}

.navInfo7 {
	display: table;
	background-color: #595959;
	background-image: url("../img/arrow_right_white.png");
	background-repeat: no-repeat;
	background-position: 95% 55%;
	text-align: center;
}


.navInfo8 {
	display: table;
	background-color: #212121;
	background-image: url("../img/arrow_right_white.png");
	background-repeat: no-repeat;
	background-position: 95% 55%;
	text-align: center;
}

.navInfo6 > p, .navInfo7 > p, .navInfo8 > p{
	padding-right: 20px;
}

.globalTopMap {
	padding: 10px 0 0 0;
	position: absolute;
	top: 80%;
	width: 100%;
	min-height: 40px;
	opacity: 0.9;
}


.globalBoxWrapper{
}

.globalBoxWrapper p{
	font-size:0.857em /* 12px */
}

.globalBoxWrapper ul{
	padding: 0 0 0 0;
	list-style:none;
}

.globalBoxWrapper ul li{
font-size:0.857em /* 12px */
}

.globalBox{
	padding: 5px 5px 5px 5px;
	border: 1px solid #e2e2e2;
}

.globalBox2{
	padding: 5px 5px 5px 5px;
}

.globalBoxText1{
	color:#ff0000 !important;
	font-weight:bold;
}

.globalBoxText2{
	color:#212121;
	font-weight:normal;
}

.globalBoxText3{
	font-weight:bold;
}

/*------------------------------------------

1. margin (margin-top/margin-right/margin-bottom/margin-left)
2. padding (padding-top/padding-right/padding-bottom/padding-left)
3. border-width (border-top-width/border-right-width/border-bottom-width/border-left-width)
4. border-color (border-top-color/border-right-color/border-bottom-color/border-left-color)
5. border-style (border-top-style/border-right-style/border-bottom-style/border-left-style)
6. border (border-top/border-bottom/border-right/border-left)
7. display
8. position
9. top
10. right
11. bottom
12. left
13. float
14. clear
15. z-index
16. width (min-width/max-width)
17. height (min-height/max-height)
18. line-height
19. vertical-align
20. overflow
21. clip
22. visibility
23. list-style (list-style-type/list-style-image/list-style-position)
24. color
25. background (background-color/background-image/background-repeat/backgroundattachment/
background-position)
26. font (font-family/font-style/font-variant/font-weight/font-size)
27. text-indent
28. text-align
29. text-decoration
30. letter-spacing
31. word-spacing
32. white-space
-----------------*/